@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

body {
	background-color: #222;
	.container {
		> div {
			visibility: visible;
			opacity: 1;
			transition: opacity .5s;
			transition-delay: 1s
		}
		&.loading {
			> div:not(.loader) {
				visibility: hidden;
				opacity: 0;
			}
		}
	}
}

body, p {
	font-family: 'Share Tech Mono', monospace;
	color: #fff;
	font-size: 18px;
	line-height: 1.2;
}

@import "partials/loader";
@import "partials/glitch";
@import "partials/logo";
@import "partials/mainMenu";