.Container {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #222;
    z-index: 400;
    visibility: visible;
    opacity: 1;
    &.Loaded {
        visibility: hidden;
        opacity: 0;
        transition: .5s;
        transition-delay: 1s;
    }
    .Loader {
        display: inline-block;
        position: absolute;
        width: 80px;
        height: 80px;
        top: calc(50% - 40px);
        left: calc(50% - 40px);
        div {
            position: absolute;
            width: 16px;
            height: 16px;
            border-radius: 50%;
            background: #3d92cb;
            animation: loader-anim 1.2s linear infinite;
    
            &:nth-child(1) {
                top: 8px;
                left: 8px;
                animation-delay: 0s;
            }
    
            &:nth-child(2) {
                top: 8px;
                left: 32px;
                animation-delay: -0.4s;
            }
    
            &:nth-child(3) {
                top: 8px;
                left: 56px;
                animation-delay: -0.8s;
            }
    
            &:nth-child(4) {
                top: 32px;
                left: 8px;
                animation-delay: -0.4s;
            }
    
            &:nth-child(5) {
                top: 32px;
                left: 32px;
                animation-delay: -0.8s;
            }
    
            &:nth-child(6) {
                top: 32px;
                left: 56px;
                animation-delay: -1.2s;
            }
    
            &:nth-child(7) {
                top: 56px;
                left: 8px;
                animation-delay: -0.8s;
            }
    
            &:nth-child(8) {
                top: 56px;
                left: 32px;
                animation-delay: -1.2s;
            }
    
            &:nth-child(9) {
                top: 56px;
                left: 56px;
                animation-delay: -1.6s;
            }
        }
    }
}

@keyframes loader-anim {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }
}