@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

body {
	background-color: #222;
	.loading {
		> div:not(.loader) {
			visibility: hidden;
			opacity: 0;
			transition: .5s;
			transition-delay: 1s;
		}
	}
	.loaded {
		> div:not(.loader) {
			visibility: visible;
			opacity: 1;
			transition: .5s;
			transition-delay: 1s;
		}
		> .loader {
			visibility: hidden;
			opacity: 0;
			transition: .5s;
			transition-delay: 1s;
		}
	}
}

body, p {
	font-family: 'Share Tech Mono', monospace;
	color: #fff;
	font-size: 18px;
	line-height: 1.2;
}

@import "components/loader";
@import "components/glitch";
@import "components/logo";
@import "components/mainMenu";