@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
@import '~normalize.css';

body {
	background-color: #222;
}

body, p {
	font-family: 'Share Tech Mono', monospace;
	color: #fff;
	font-size: 18px;
	line-height: 1.2;
}