.Header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 500;
    padding: 20px 60px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color .5s;
    background: linear-gradient(to bottom, #000, transparent);
    &.isScrolling {
        background-color: rgba(0,0,0,.6);
    }
    @media (max-width: 767px) {
        padding: 20px 30px;
    }
}

.Footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 500;
    padding: 6px 60px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    @media (max-width: 767px) {
        padding: 5px 30px;
    }
}