.Header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 500;
    padding: 20px 0;
    box-sizing: border-box;
    transition: background-color .5s;
    background: linear-gradient(to bottom, #000, transparent);
    &.isScrolling {
        background-color: rgba(0,0,0,.6);
    }
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.Container {
    max-width: 1440px;
    padding: 0 80px;
    margin: 0 auto;
    @media (max-width: 991px) {
        padding: 0 60px;
    }
    @media (max-width: 767px) {
        padding: 0 30px;
    }
}

.Footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 500;
    padding: 6px 0;
    box-sizing: border-box;
    background-color: #000;
}