.Posts {
    padding: 100px 0 40px 0;
    box-sizing: border-box;
    @media (max-width: 767px) {
        padding: 80px 0 40px 0;
    }
    .Link {
        display: block;
        color: #fff;
        text-decoration: none;
        position: relative;
        padding-left: 130px;
        margin-bottom: 20px;
        @media screen and (max-width: 767px) {
            padding-top: 20px;
            padding-left: 0;
            margin-bottom: 15px;
        }
        span {
            position: absolute;
            top: 1px;
            left: 0;
        }
    }
}